.destinations {
    width: 312px;
    margin: 0 auto;
}

.destinations-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px
}

.destinations .item header{
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}

.destinations .button{
    margin: 24px 0 40px;
}

.destinations .item .img-item {
    width: 100%;
    height: 368px;
}
.destinations .item.tokyo .img-item {
    background: url(../img/Tokyo-mobile.jpg);
    background-size: cover;
}
.destinations .item.osaka .img-item {
    background: url(../img/Osaka-mobile.jpg);
    background-size: cover;
}

.destinations .item header h4 {
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 24px 0;
}
.destinations .item p {
    font-size: 20px;
}
.destinations .button {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .destinations {
        width: 648px;
    }
    .destinations .item .img-item {
        width: 100%;
        height: 452px;
    }
    .destinations .item.tokyo .img-item {
        background: url(../img/Tokyo.jpg);
        background-size: cover;
    }
    .destinations .item.osaka .img-item {
        background: url(../img/Osaka.jpg);
        background-size: cover;
    }
}
@media  screen and (min-width: 1024px) {
    .destinations {
        width: 900px;
    }
    .destinations .item .img-item {
        width: 100%;
        height: 452px;
    }
}
@media  screen and (min-width: 1440px) {
    .destinations {
        width: 1200px;
    }
    .destinations-items {
        flex-direction: row;
    }
}