header{
    background-color: var(--background-tertiary-color);
    width: 100%;
    height: 138px;
}

.logo{
    width: 68px;
    height: 64px;
    display: inline-block;
    margin: 37px 0 0 48px;
}